{% extends 'myapp/base.html' %}

{% block content %}
  <div class="translucent-box">
    <h2>Booking Confirmation</h2>
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <h2>Your booking has been confirmed!</h2>
      <h2>Thank you!</h2>
      <h3>Bill details</h3>
      <button type="button" class="btn btn-success" id="openBoxBtn">
        Bill details
      </button>
      <div class="custom-box" id="customBox">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Bus name:</b> {{book.bus_name}}</li>
          <li class="list-group-item"><b>Starting point:</b> {{book.source}}</li>
          <li class="list-group-item"><b>Destination point:</b> {{book.dest}}</li>
          <li class="list-group-item"><b>Number of seats:</b> {{book.nos}}</li>
          <li class="list-group-item"><b>Price:</b> {{book.price}}</li>
          <li class="list-group-item"><b>Cost:</b> {{cost}}</li>
          <li class="list-group-item"><b>Date:</b> {{book.date}}</li>
          <li class="list-group-item"><b>Time:</b> {{book.time}}</li>
        </ul>
        <button type="button" class="btn btn-success" id="closeBoxBtn">Close</button>
      </div>
      <div class="row-md-4">
        <button type="submit" class="btn btn-primary float-right">OK</button>
      </div>
    </form>
  </div>
  <style>
  </style>
  <script>
    document.getElementById('openBoxBtn').addEventListener('click', function () {
      document.getElementById('customBox').style.display = 'block';
    });

    document.getElementById('closeBoxBtn').addEventListener('click', function () {
      document.getElementById('customBox').style.display = 'none';
    });
  </script>
{% endblock %}
